* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  background: aliceblue;
}
header {
  padding: 1em;
  background: #262626;
  position: relative;
}
nav .toggle nav .logo {
  display: inline-block;
}
nav .single-menu {
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: block;
  width: 100%;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}
nav .single-menu:hover,
nav .single-menu:active {
  background: #fff;
  color: #262626;
}
nav .logo {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  width: 15em;
  text-align: center;
  padding: 1em;
  color: #fff;
}
nav .toggle {
  vertical-align: middle;
  padding: 1em;
  color: #fff;
}

@media (min-width: 48em) {
  nav {
    display: flex;
  }
  nav .menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  nav .single-menu {
    width: auto;
  }
  nav .toggle {
    display: none;
  }
}
nav div {
  display: none;
}
@media (min-width: 48em) {
  nav div {
    display: flex;
  }
}
@media (max-width: 48em) {
  nav.active .toggle {
    background: skyblue;
  }
  nav.active div {
    display: block;
  }
  nav .logo {
    width: 14em;
  }
}
main {
  width: 65vw;
  margin: auto;
}

.table-flying {
    width: 100%;
    margin: 40px 0px;
    background: #fff;
    padding: 20px 0px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.34); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.34);
    border-collapse: collapse;
    color: #262626;
}
.table-flying td {
  padding: 16px;
}

.table-flying td a{
  color: #262626;
  font-weight: bold;
  font-size: 20px;
}

.table-flying th {
  font-size: 20px;
  padding: 20px 0px 10px 0px;
  background-color: #262626;
  color: #fff;
}
.table-flying > * {
  text-align: center;
}

.table-flying td, .table-flying th {
    border-width: 2px;
    border-color: #262626;
    padding: 20px;
}
tbody tr:nth-child(even) {
    background: #e8e7e1;
}

.table-flying:hover tbody tr:nth-child(1):hover {background-color: 	#0070DD;}
.table-flying:hover tbody tr:nth-child(2):hover {background-color: 	#F48CBA;}
.table-flying:hover tbody tr:nth-child(3):hover {background-color: #FFF468;}
.table-flying:hover tbody tr:nth-child(4):hover {background-color: #FF7C0A;}
.table-flying:hover tbody tr:nth-child(5):hover {background-color: #3FC7EB;}
.table-flying:hover tbody tr:nth-child(6):hover {background-color: #3FC7EB;}
.table-flying:hover tbody tr:nth-child(7):hover {background-color: #8788EE;}




