.wrapper, .search-data{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .wrapper{
    position: absolute;
    height: 0px;
    width: 0px;
    border-radius: 100%;
    background: #262626;
    transition: all 0.4s linear;
  }
  .wrapper.active{
    height: 100vh;
    width: 100vh;
  }
  .search-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background: #f8f8f8;
  }
  .search-btn span{
    color: #000;
    font-size: 22px;
    line-height: 60px;
  }
  .search-btn span:hover{
    color:;
    background-color: ;
  }
  .search-data{
    position: absolute;
    height: 50px;
    width: 400px;
    display: flex;
    text-align: center;
    /* display: none; */
  }
  .search-data select{
    height: 100%;
    width: 100%;
    background: #262626;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
  }
  .search-data .line{
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.4s 0.3s linear;
  }
  .search-data .line.active{
    transform: scaleX(1);
  }
  .search-data label{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    color: rgba(255,255,255,0.7);
  }
  .search-data input:valid ~ label{
    opacity: 0;
  }
  .search-data span{
    color: #fff;
    position: absolute;
    width: 50px;
    font-size: 25px;
    right: 0;
    top: 0;
    line-height: 45px;
    cursor: pointer;
  }
  .close-btn{
    position: absolute;
    z-index: 99;
    right: 25px;
    top: 25px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }
  .search-data, .search-data span,
  .search-data label, .close-btn{
    display: none;
  }
.search-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 60px;
}

.search-btn:active {
    color: #000
}

.search-btn:active:after {
    background: transparent;
}

.search-btn:hover:before {
    opacity: 1;
}

.search-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}