*{
    margin: 0 !important;
    padding: 0!important;
}
body
{
    width:100%;
        height: 100vh;
        padding: 0;
    background: url("../../images/bg_login1.jpg") no-repeat center content-box;
    
}

#tform
{
    display: flex;
    justify-content: center;
}

.red
{
    color:rgb(229, 34, 34);
    
}
header
{
    height:300px;
}
input{
    color: white;
}
footer
{
    height: 10%;
    margin: 0 !important;
}
.border__input
{
    border: 1px solid white;
    background-color: rgb(19, 16, 16);
    opacity: 0.8;
    border-radius: 8px;
}
.label__input
{
    color:rgba(214, 205, 34, 0.927);
}
.btn__login{
    color:rgba(214, 205, 34, 0.927);
    background-color: rgba(184, 25, 25, 0.91);
    border: 3px solid rgb(49, 48, 48);
    border-radius: 8px;
}
.btn__login:hover{
    color:rgba(231, 230, 216, 0.927);
    background-color: rgba(222, 36, 36, 0.91);
    border: 3px solid rgb(49, 48, 48);
    border-radius: 8px;
}
.p__footer
{
    color:rgba(214, 205, 34, 0.927);
}